<form [formGroup]="petForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" placeholder="Name" formControlName="name">
  </div>

  <div>
    <label for="kind">
      Kind
    </label>
    <input id="kind" type="text" placeholder="Kind" formControlName="kind">
  </div>

  <div>
    <label for="image">
      Picture
    </label>
    <input id="image" type="text" placeholder="Image" formControlName="image">
  </div>

  <div>
    <label for="profileText">
      Profile Text
    </label>
    <input id="profileText" type="text" placeholder="Profile Text" formControlName="profileText">
  </div>

  <div>
    <label for="popularity">
      Popularity
    </label>
    <input id="popularity" type="text" placeholder="popularity" formControlName="popularity">
  </div>

  <button class="btn btn-primary pull-right" type="submit">Create Pet</button>

</form>
